@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

table {
  min-width: 636px;
}

table tbody .separator {
  height: 10px;
}

.thumbnail img {
  width: 240px;
  max-width: unset;
}

.article .title h1 {
  font-size: 32px;
  margin-bottom: 8px;
}

.article .location-stamp {
  color: rgb(128, 128, 128);
  text-transform: uppercase;
  padding-right: 8px;
}

.article img {
  width: 100%;
  padding-bottom: 12px;
}

.article .description,
.article .content .Normal {
  padding-bottom: 12px;
}

.article .author_mail {
  text-align: right;
}

.default-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 24px 12px;
}

.paginator {
  margin-top: 66px;
}

.paginator .paginator-list {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.paginator .paginator-item {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  background-color: #f2f2fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: background-color .25s linear, border-color .25s linear;
  moz-transition: background-color .25s linear, border-color .25s linear;
}

.paginator .paginator-item a {
  color: #000000;
  text-decoration: none;
}

.paginator .paginator-item.active {
  background-color: #e5e5ff;
  border-color: #efeff7;
}

.paginator .paginator-item:hover {
  background-color: #ffffff;
  border: 1px solid #f2f2fc;
}

.paginator .paginator-item.prev,
.paginator .paginator-item.next {
  background-color: #ffffff;
  border: 1px solid #f2f2fc;
}

.paginator .paginator-item.prev svg,
.paginator .paginator-item.next svg {
  margin: 0 auto;
}

.paginator .paginator-item.prev:hover,
.paginator .paginator-item.next:hover {
  background-color: #f2f2fc;
  border: 1px solid #ffffff;
}

@media (max-width: 640px) {
  .thumbnail img {
    width: 100%;
  }

  .default-container {
    width: 100%;
    max-width: unset;
  }
}